@import "../../styles//mixins.scss";

.auctions {
    padding: 30px;

    .title {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 35px;
        font-size: 16px;
        margin: 46px 18px 42px 2px;
        font-size: 20px;
    }

    @media screen and (max-width: 768px) {
        padding: 30px 18px;
    }

    .auctionsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 38px;
        grid-column-gap: 43px;

        @media only screen and (max-width: 1400px) {
            grid-template-columns: repeat(1, 1fr);
        }

        a {
            text-decoration: none;
        }
    }
}

@include media-mobile-only {
    .auctions{
        .title{
            text-align: center;
        }
    }
}
