@import "../../styles//mixins.scss";

.auctions {
    padding: 30px;

    .title {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 35px;
        font-size: 16px;
        margin: 46px 18px 42px 2px;
        font-size: 20px;
    }

    @media screen and (max-width: 768px) {
        padding: 30px 18px;
    }

    @media screen and (max-width: 768px) {
        padding: 30px 18px;
    }

    .auctionsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 368px);
        align-content: space-around;
        justify-content: space-between;
        grid-row-gap: 38px;

        @media screen and (max-width: 1559px) {
            grid-template-columns: repeat(3, 368px);
        }

        @media screen and (max-width: 1223px) {
            grid-template-columns: repeat(2, 368px);
        }

        @media screen and (max-width: 850px) {
            grid-template-columns: repeat(1, 368px);
            max-width: 368px;
            margin: auto;
        }

        a {
            text-decoration: none;
        }
    }
}

@include media-mobile-only {
    .auctions {
        margin: auto;
        box-sizing: content-box;
        .title {
            text-align: center;
        }
    }
}
