.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.content {
    position: absolute;
    max-width: 720px;
    width: max(50vw, 320px);
    background: #fff;
    padding: 56px 31px;
    border-radius: 12px;
    left: calc(max(50vw, 320px) / 2);
    top: 32px;

    text-align: center;
    img {
        width: 71px;
        margin-bottom: 34px;
    }
    
}
