.container {
    margin: auto;
    margin: auto;
    padding: 0 90px;

    @media screen and (max-width: 778px) {
        max-width: 80%;
        padding: 0 18px;
    }

    text-align: left;
    p {
        font-size: 17px;
    }
}
