@import "./mixins";
.container {
    @include landingContainer();
    text-align: center;

    h2 {
        margin: 39px auto 32px;
    }

    input,
    button {
        display: block;
        max-width: 100%;
        width: 100%;
        padding: 19px 16px;
        border-radius: 10px;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 21px;
    }

    button {
        background-color: #6851ff;
        border: none;
        color: #fff;
    }
}

.skip,
.tiny {
    font-weight: 500;
    color: #989898;
    text-decoration: none;
    margin-top: 39px;
    font-size: 14px;
    font-weight: 500;
}

.card {
    padding: 46px 36px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
    h2 {
        font-size: 21px;
        font-weight: bold;
        margin: 25px auto 14px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        margin: 14px auto 43px;
    }

    .img {
        width: 150px;
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotate {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    vertical-align: middle;
    width: 16px;
    margin-right: 12.2px;
}

.success {
    width: 71px;
}